* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header 
{
    width: 100%;
    background-color:  mediumturquoise;
    padding: 10px;
  
}
body{
	margin:0;
  padding: 0;
	background-color: #CC6600;
}


h1
{
	text-align: center;
	font-family: Trebuchet MS, sans-serif;
  font-style:italic;
	font-weight: bolder;
	font-size: 70px;
	padding-top: 30px;
	color: #F6BE00;
	background-color:mediumturquoise;
	text-shadow: -3px 3px #8B0000;
}
h3
{
	text-align: center;
	font-family: Trebuchet MS, sans-serif;
	font-weight: bold;
	font-size: 30px;
	color: #F6BE00;
	background-color:mediumturquoise;
	text-shadow: -3px 3px #8B0000;
}

.topnav {
  overflow: hidden;
  background-color: #F6BE00;
}

.topnav a {
  font-family: Courier,monospace;
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #CC6600;
  color: black;
}

/* for asteroids/home page AND impacts */
.sidebar
{ font-family: Courier,monospace;
	width:19vw;
	height:60vw;
	overflow-x: hidden;
  overflow-y: auto;
  align-items: center;
  text-align: center;
	background-color:#CC6600;
}

.fullinfo
{ flex:1;
  font-family: Courier,monospace;
	text-align:center;
	width:79vw;
	height:60vw;
	background-color: ghostwhite;
}

.float-parent-element { 
    width: 42%; 
} 
.float-child-element { 
    float: left; 
    width: 50%; 
} 

.asteroid-button {
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
  font-family: 'Courier New', Courier, monospace;
  font-weight:bold;
  width:15vw;
	height:5vw;
  margin: 10px;
  padding: 10px;
  border: 1px solid #462301;
  border-radius: 5px;
  cursor: pointer;
  background-color: #8b00005a;
  color:#ddd;
}

.asteroid-button:hover {
  background-color: #8B0000;
  color:#ddd;

}
/* for end for asteroids and impacts */

/* impacts.html for impact page  */
#cont-impacts{
  display: flex;
  flex-wrap: wrap;
  width: 100%
}

#make_Astro
{
  display: none;
}

#pick_Astro
{
  display: none;
}

#welcome-i
{
  font-size: 20px;
  color:black;

}

#map-container {
  position: relative; 
  height: 400px; 
}

#map {
  height: 100%; 
  width: 100%; 
}
/* end for impact simulator */

/* aquiz.html for quiz */
#score-card-t
{
  text-align: center;
	font-family:'Courier New', Courier, monospace;
	font-weight: bold;
  font-size: 15px;
  color: black;
	padding-top: none;
	background-color: white;
	text-shadow: none;
}

#startq{
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 30px;
    color: black;
    padding-top: none;
    background-color: white;
    text-shadow: none;
}

.card
{
	background-color: #fffef9;
  padding: 5%;
}
.intro-container, .quiz-container, .result-container
{
	font-family: 'Courier New', Courier, monospace;

}

.quiz-container {
	display: none;
}

.result-container{
	display:none;
}

#results, #Fresults
{
	font-weight: bold;
}

#Fresults
{
	text-align:center;

}
/* end for quiz */
